<form class="form-signin" ng-submit="processForm();">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputId" class="sr-only">Amazon Id</label>
    <input ng-model="amazonId" type="text" id="inputId" class="form-control" placeholder="Amazon ID" required="true" autofocus="">
    <label for="inputSecret" class="sr-only">Amazon Secret</label>
    <input ng-model="amazonSecret" type="text" id="inputSecret" class="form-control" placeholder="Amazon Secret" required="true">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
